<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8" />
<title>Index</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
</head>
<body ng-app="myApp" ng-controller="IndexController">
<ul class="nav nav-pills">
<li ng-class="{active:m==selectedMenu}" class="clickable" ng-click="select(m)" ng-repeat="m in menu">
<a>{{m}}</a>
</li>
</ul>
<div ng-if="selectedMenu=='Inscription Etudiant'" ng-controller="InscriptionController">
<div ng-include="'inscription.html'"></div>
</div>
<div ng-if="selectedMenu=='List des Etudiants'" ng-controller="listEtudiantsController">
<div ng-include="'listetudiants.html'"></div>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/myApp.js"></script>

</body>
</html>